{% extends 'posts/base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="form-container mt-5 ">
    <form method="post" class="border p-4 rounded shadow-lg w-50">
        {% csrf_token %}
        <h2 class="mb-4 text-center">Login</h2>
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
            {{ form.username|attr:"class:form-control w-100 w-sm-50" }}
        </div>

        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
            {{ form.password|attr:"class:form-control w-100 w-sm-50" }}
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% endblock content %}