{% extends 'posts/base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <div class="detail-post">
        <div class="post-header">
            <h5>{{ post.title }}</h5>
            <p>{{ post.content }}</p>
        </div>

        <!-- Edit/Delete buttons for real author -->
        {% if request.user == post.author %}
            <div class="edit-delete-container">
                <a href="{% url 'edit_post' post.pk %}" class="btn btn-success">Edit</a>
                <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>   
            </div>
        {% endif %}

        <!-- Post Timestamps -->
        <hr>
        <div class="post-timestamps">
            <p>Created at: {{ post.created_at }}</p>
            <p>Updated at: {{ post.updated_at }}</p>
        </div>

        <!-- Comments Section -->
        <div class="comments-section">
            <h5>Comments:</h5>
                <div class="comments-list">
                    {% for comment in comments %}
                        <div class="comment">
                            <p><strong>{{ comment.author.username }}:</strong> {{ comment.content }}</p>
                            <hr>
                        </div>
                    {% empty %}
                        <p>No comments yet.</p>
                    {% endfor %}
                </div>
        </div>

        <!-- Comment Form -->
        <div class="comment-form">
            <h6>Add a comment:</h6>
                <form method="post" action="{% url 'post_detail' post.pk %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.content.id_for_label }}">Your Comment</label>
                            {{ form.content }}
                        </div>
                    
                    {% if request.user.is_authenticated %}
                        <button type="submit" class="btn btn-secondary">Post</button>
                    {% else %}
                        <a href="{% url 'signup' %}?next={% url 'post_detail' post.pk %}" class="btn btn-secondary">Post</a>
                        {% comment "" %}next should redirect to the post trying to comment but not working ,idk why{% endcomment %}
                    {% endif %}
                </form>
        </div>
    </div>
{% endblock content %}
