{% extends 'posts/base.html' %}
{% block title %}rawTalk{% endblock title %}
{% block content %}

    <div class="container-post">
        <h4>Latest Talks</h4>
        
        {% if posts %}
            {% for post in posts %}
                <div class="posts">
                    <a class="text-decoration-none text-dark" href="{% url "post_detail" post.pk%}"><strong >{{post.title}}| {{post.author.username}}</strong></a>
                    <p>{{post.content|slice:":30"}}... <a href="{% url "post_detail" post.pk %}">Read More</a></p>
                    
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}