{% extends 'posts/base.html' %}
{% block title %}My Post{% endblock title %}
{% block content %}
    <div class="my-posts">
        <h4>My Posts</h4>
        {% if request.user.is_authenticated %}
            {% if userPosts %}
                {% for post in userPosts %}
                    <div class="posts">
                        <a class="text-decoration-none text-dark" href="{% url 'post_detail' post.pk %}">
                            <strong>{{ post.title }} | {{ post.author.username }}</strong>
                        </a>
                        <p>{{ post.content|slice:":30" }}... <a href="{% url 'post_detail' post.pk %}">Read More</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <p>You haven't created any posts yet.</p>
            {% endif %}
        {% else %}
            <p>You must be logged in to view your posts.</p>
        {% endif %}
    </div>
{% endblock content %}
